<a href="https://colab.research.google.com/github/mohd-fa/PY_XTREME-1/blob/main/mohd_fa_datetime_timetuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from datetime import date
d = date.fromordinal(730920) # 730920th day after 1. 1. 0001
d

datetime.date(2002, 3, 11)

In [2]:
t = d.timetuple()
for i in t:     
    print(i)

2002
3
11
0
0
0
0
70
-1