<a href="https://colab.research.google.com/github/mohd-fa/PY_XTREME-1/blob/main/Datetime/mohd_fa_datetime_synctoutc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from datetime import timedelta, datetime, tzinfo, timezone

class KabulTz(tzinfo):
    UTC_MOVE_DATE = datetime(1944, 12, 31, 20, tzinfo=timezone.utc)

    def utcoffset(self, dt):
        if dt.year < 1945:
            return timedelta(hours=4)
        elif (1945, 1, 1, 0, 0) <= dt.timetuple()[:5] < (1945, 1, 1, 0, 30):
            return timedelta(hours=4, minutes=(30 if dt.fold else 0))
        else:
            return timedelta(hours=4, minutes=30)

    def fromutc(self, dt):
        if not isinstance(dt, datetime):
            raise TypeError("fromutc() requires a datetime argument")
        if dt.tzinfo is not self:
            raise ValueError("dt.tzinfo is not self")

        if dt.replace(tzinfo=timezone.utc) >= self.UTC_MOVE_DATE:
            return dt + timedelta(hours=4, minutes=30)
        else:
            return dt + timedelta(hours=4)

    def dst(self, dt):
        return timedelta(0)

    def tzname(self, dt):
        if dt >= self.UTC_MOVE_DATE:
            return "+04:30"
        return "+04"

In [8]:
tz1 = KabulTz()

dt1 = datetime(1900, 11, 21, 16, 30, tzinfo=tz1)
print(dt1.utcoffset())


dt2 = datetime(2006, 6, 14, 13, 0, tzinfo=tz1)
print(dt2.utcoffset())


dt3 = dt2.astimezone(timezone.utc)
dt3

4:00:00
4:30:00

datetime.datetime(2006, 6, 14, 8, 30, tzinfo=datetime.timezone.utc)

In [11]:
dt2

datetime.datetime(2006, 6, 14, 13, 0, tzinfo=<__main__.KabulTz object at 0x7f77968934c0>)

In [10]:

dt2 == dt3

True